/* table.transaction-table {
  margin-right: 0%;
  margin-left: 50%;
}

.sc-fnykZs.table.table-borderless.table-hover {
  margin-top: 0rem;
}

.transaction-header {
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
}

td.transaction-row-data {
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

input.search {
  margin-top: 5rem;
  margin-left: 25px;
  width: 750px;
}

.pagination {
  color: white;
}

.paginationBtns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 1rem;
  margin-left: 50%;
  margin-right: 50%;
}

.paginationBtns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.paginationBtns a:hover {
  background-color: lightseagreen;
}

.paginationActive a {
  background-color: lightseagreen;
} */