.quiz-app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quiz-question {
  margin-left: 10%;
  margin-right: 10%;
}
.main-menu-quiz, .quiz, .endScreen {
  /* width: 500px;
  height: 500px; */
  width: 100%;
  height: 800px;
  /* border-radius: 100px; */
  background-color: #364958;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-menu-quiz button, .quiz button, .endScreen button {
  width: 550px;
  height: 80px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

/* .main-menu-quiz button, .quiz button, .endScreen button hover {} */
/* onClick */

.main-menu-quiz, .quiz, .endScreen {
  color: white;
}

.quiz-options {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}