body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-logged-in {
  margin-left: 10%;
}

.app-container {
  margin-left: 10%;
}

.paginationBtns {
  margin-right: 0px;

}

.paginationBtns a {
  margin: 5px;
  border-radius: 5px;
  border: 1px solid black;
  color: #2b2eff;
  cursor: pointer;
}

.paginationBtns a:hover {
  background-color: #f6a192
}

.paginationActive a {
  background-color: #f6a192
}

.refunds {
  color: #01796f;
}
.component-container {
  background-color: white;
  /* so we don't see through draggable components on the dash */
  border: solid;
}

/* 
@tailwind base;
@tailwind components;
@tailwind utilities; */
